* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Tw Cen Mt;
}

body {
  min-height: 98vh;
  justify-content: center;
  align-items: center;
}

/*Clase de contenedor general*/
.container {
  /*border: 2px solid black;*/
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

/*Parte izquierda*/
section {
  border-radius: 10px 0px 0px 10px;
  width: 60%;
  padding: 20px;
  background: #065471;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 50%;
  margin: 0 auto;
}

.info-text {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.titulo {
  font-size: 35px;
  font-weight: 600;
  color: #ffc045;
}

.parrafo {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 20px;
  font-weight: 200;
  color: white;
}

/*Parte derecha*/

aside {
  border: 3px solid #065471;
  border-radius: 0px 10px 10px 0px;
  width: 40%;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-aside {
  font-size: 30px;
  font-weight: 600;
  color: #065471;
  margin: 10px;
  text-align: center;
}

/*contenedor de input y boton*/

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.input-field-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

label {
  font-size: 20px;
  margin: 8px auto;
}

.input-field {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.8s;
}

input:focus {
  background: #e9e9e9;
}

.input-error {
  color: rgb(233, 43, 43);
  /*transition: 0.8s;*/
}

.input-success {
  color: rgb(23, 112, 23);
  /*transition: 0.8s;*/
}


.sm-empty {
  color: red;
}

.sm-noMatch {
  color: red;
}

/*Diseño de botones*/
.btn {
  margin-top: 15px;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn-verificar {
  background: #065471;
  color: white;
  border: 2px solid #065471;
  transition: 0.3s;
}

.btn-verificar:hover {
  background: #ffc045;
  color: #000000;
  border: 2px solid #ffc045;
  transition: 0.3s;
}

.hide {
  display: none;
}

/*First point break - 1000px and under*/

@media screen and (max-width: 1000px) {
}

/*Second point break - aprox 400px*/
